/configs/openaiAPI.txt
/3D/
/IMG/
/VEDIO/
/UPLOAD_FOLDER/
/OTHER/
/TXT/
/file_operations.log
/venv/
/FileHub_Flask/baidudisk_demo/auth.py
/BaiduSyncdisk
/configs/
/notion-sync/config.json
/Syncdisk
*.pyc
.idea
